@charset "UTF-8";
.kt-header {
  justify-content: flex-end;
}

.kt-content .row + .row {
  margin-top: 15px;
}

label.is-invalid {
  margin-top: 5px;
  color: #fd397a;
}

.maincontent {
  background-color: #fff;
}
.maincontent .info-area {
  color: #fff;
  opacity: 0.3;
}
.maincontent .info-area-count, .maincontent .info-area-piece, .maincontent .info-area-point {
  background-color: #000;
  border-top-right-radius: 10px;
  position: relative;
}
.maincontent .info-area-count span, .maincontent .info-area-piece span, .maincontent .info-area-point span {
  font-size: 2rem;
}
.maincontent .info-area-count:after, .maincontent .info-area-piece:after, .maincontent .info-area-point:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(70%, 20%);
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  background-color: #000;
  text-align: center;
}
.maincontent .info-area-count:after {
  content: "字";
}
.maincontent .info-area-piece:after {
  content: "則";
}
.maincontent .info-area-point:after {
  content: "點";
}
