#upload #img-container {

}
#upload #img-container:after {
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    clear: both;
}
#upload .img-item {
    position: relative;
    /* float: left; */
    margin-right: 0.1875rem;
    margin-bottom: 0.1875rem;
    max-height: 20vw;
    max-width: 20vw;
    box-sizing: border-box;
}
#upload .img-thumb {
    border: 1px solid #000;
}
#upload .thumb-icon {
    width: 100%;
    height: 100%;
}
#upload .img-up-add {
    display: table;
    /* border: 1px dashed #E0E0E0; */
}
#upload .img-add-icon {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
#upload .img-remove {
    position: absolute;
    right: -0.1875rem;
    top: -0.1875rem;
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    background: #f7333d;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    overflow: hidden;
    background-clip: padding-box;
}
#upload #img-file-input {
    display: none;
}