.cropper-image > img {
    max-width: 100%;
}
.cropper_wrapper > img {
  width: 100%;
}
.cropper-btn-tool>div,
.cropper-btn-tool>button{
    margin-right: 5px;
}
.cropper-btn-tool .btn-input{
  position: relative;
}
.cropper-btn-tool .btn-input input{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}
.cropper-oragin .thumbnail{
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 4px;
  display: inline-block;
  margin-bottom: 0;
}
.cropper-oragin img{
  max-width: 360px;
  max-height: 360px;
}
.cropper-oragin.small img{
  max-width: 120px;
  max-height: 120px;
}

.cropper-oragin.xsmall img{
  max-width: 80px;
  max-height: 80px;
}
.cropper-btn-cut-save {
  background-color: #ffae03;
}
.modal-header {
    display: block;
}