.cropper-oragin {
    margin: 15px 7px;
}

.cropper-list {
    position: relative;
    margin-bottom: 30px;
}

.cropper-oragin .btn-save-remove,
.cropper-oragin .btn-close-remove {
    display: none;
}

.cropper-oragin.remove-active .btn-save-remove,
.cropper-oragin.remove-active .btn-close-remove {
    display: inline-block;
}

.cropper-oragin.remove-active .btn-open-remove,
.cropper-oragin.noimg .btn-open-remove {
    display: none;
}

.cropper-album {
    width: 100%;
    float: left;
    margin: 0 -5px;
    margin-bottom: 15px;
}

.cropper-album .item {
    margin-bottom: 7px;
    float: left;
    padding: 0 5px;
    position: relative;
}

.cropper-album .item>label {
    cursor: pointer;
    position: absolute;
    width: 30px;
    height: 30px;
    right: 15px;
    top: 10px;
    border-radius: 4px !important;
    background-color: #fff;
    display: none;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), inset 0 2px 2px rgba(0, 0, 0, 0.22);
}

.cropper-oragin.remove-active .cropper-album .item>label {
    display: flex;
}

.cropper-album .input-remove {
    display: none;
}

.cropper-album .input-remove+span {
    opacity: 0;
    visibility: hidden;
    width: 24px;
    height: 12px;
    background-color: transparent;
    transform: rotate(-10deg);
    border-bottom: 5px solid #ad1037;
    border-left: 5px solid #ad1037;
    transition: 0.2s;
}

.cropper-album .input-remove:checked+span {
    opacity: 1;
    visibility: visible;
    background-color: transparent;
    border-bottom: 5px solid #ad1037;
    border-left: 5px solid #ad1037;
    transform: rotate(-45deg);
    transition: 0.2s;
}

.cropper-album .border {
    background-color: #fff;
    border: 2px solid #ddd;
    padding: 4px;
    display: inline-block;
}
.cropper-album .item.main .border{
    border-color: rgb(255, 0, 0);
}

.cropper-album .item .item-tool{
    float: left;
    width: 100%;
    padding: 15px 0px 1px;
}
.cropper-album .item .item-btn{
    background: #f00;
    color: #fff;
    padding: 1px 4px;
    display: inline-block;
    cursor: pointer;
    margin-right: 12px;
}
.cropper-album .item.main .btn-main{
    opacity: 0;
    visibility: hidden;
}
.cropper-album .item .item-tool input{
    height: 21px;
    width: 50px;
}



.cropper-list .item {
    width: 100%;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    font-family: "微軟正黑體";
}

.cropper-list .item:after {
    content: "此圖尚未裁切";
    position: absolute;
    bottom: -29px;
    font-size: 16px;
    left: 30px;
    color: #dc3545;
}

.cropper-list .item:before {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 0px;
    display: block;
    width: 25px;
    height: 25px;
    background-color: #dc3545;
}

.cropper-list .item.cutted:after {
    content: "此圖已裁切";
    position: absolute;
    bottom: -29px;
    font-size: 16px;
    left: 30px;
    color: #28a745;
}

.cropper-list .item.cutted:before {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 0px;
    display: block;
    width: 25px;
    height: 25px;
    background-color: #28a745;
}

.cropper-list .item img {
    width: 100%;
}

.cropper-list .item.active {
    opacity: 1;
    visibility: visible;
    position: relative;
}
.cropper-content-area .page {
    line-height: 30px;
    font-size: 16px;
    background-color: #eee;
}