.kt-header
  justify-content: flex-end

.kt-content
  .row + .row
    margin-top: 15px

label.is-invalid
  margin-top: 5px
  color: #fd397a

.maincontent
  background-color: #fff

  .info-area
    color: #fff
    opacity: 0.3

    &-count, &-piece, &-point
      background-color: #000
      border-top-right-radius: 10px
      position: relative

      span
        font-size: 2rem

      &:after
        content: ""
        position: absolute
        right: 0
        bottom: 0
        transform: translate(70%, 20%)
        width: 30px
        height: 30px
        line-height: 30px
        border-radius: 50%
        background-color: #000
        text-align: center

    &-count
      &:after
        content: "字"

    &-piece
      &:after
        content: "則"

    &-point
      &:after
        content: "點"
