.load_plugin{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 111111;
    background-color: rgba(255,255,255,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}


@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.load_plugin .loading {
  position: relative;
  height: 152px;
  width: 152px;
  border-radius: 50%;
  padding: 0;
  margin: 0 20px;
}

.load_plugin .loading:after {
  content: " ";
  position: absolute;
  border-radius: 50%;
  top: 68.5px;
  left: 68.5px;
  height: 15px;
  width: 15px;
  box-shadow: 78.46433px -28.55868px 0 0 rgba(0,91,172, 0.88889),
  63.96471px -53.67277px 0 0 rgba(0,91,172, 0.77778),
  41.75px -72.31312px 0 0 rgba(0,91,172, 0.66667),
  14.49962px -82.23145px 0 0 rgba(0,91,172, 0.55556),
  -14.49962px -82.23145px 0 0 rgba(0,91,172, 0.44444),
  -41.75px -72.31312px 0 0 rgba(0,91,172, 0.33333),
  -63.96471px -53.67277px 0 0 rgba(0,91,172, 0.22222),
  -78.46433px -28.55868px 0 0 rgba(0,91,172, 0.11111),
  -83.5px 0px 0 0 rgba(0,91,172, 0);
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
}
