.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto{
    float: left;
}
.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after{
    content: " ";
    display: table;
}

.form-group.m-form__group {
    margin-bottom: 15px;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    flex-wrap: wrap;
}



.table td:last-child button {
margin: 0 5px;
}




/*隱藏*/
.hide{
    display: none!important;
    visibility: hidden!important;
}


/*ul-li*/
.no-style{
    list-style: none;
}
.ulli-no{
    list-style: none;
    padding-left: 0;

}


/*位置*/
.va-t{
    vertical-align: top;
}
.Keep-Right{
    justify-content: flex-end;
    display: flex;
}
.f-l{
    float: left;
}
.f-r{
    float: right;
}
.inline-block,
.ullispan-inline-block span{
    display: inline-block;
}

.table-cell{
    display: table-cell;
}

.va-m{
    display: inline-block;
    vertical-align: middle;
}
.text-c{
    text-align: center;
}
.text-r{
    text-align: right;
}
.text-l{
    text-align: left
}
.va-m1{
    vertical-align: middle !important;
}

.display_flex {
    display: flex;
    flex-wrap: wrap;
}

.H-center{
    margin: 0 auto; 
}


/*距離*/

.mr-5px{
    margin-right: 5px;
}
.pb-30px{
    padding-bottom: 30px;
}

.pl-0{
        padding-left: 0;
}
.pl-15px{
    padding-left: 15px !important;
}
.pl-48px{
    padding-left: 48px !important;
}
.plr-15px{
    padding: 0 15px;
}
.pt-0{
    padding-top: 0;
}
.mt-5px{
  margin-top: 5px;
}
.mt-7px{
  margin-top: 7px;
}
.mt-15px{
    margin-top: 15px;
}
.mb-2_2rem{
    margin-bottom: 2.2rem
}
.mb-0px{
    margin-bottom: 0;
}
.mb-7px{
    margin-bottom: 7px;
}
.mb-15px{
    margin-bottom: 15px;
}
.ml-25px{
    margin-left: 25px;
}
.mr-15px{
    margin-right: 15px;
}
.ml-30px{
    margin-left: 30px;
}



/*寬度*/
.w200{
    width: 200px;
}
.w140{
    width: 140px;
}
.w290{
    width: 290px;
}
.w75{
    width: 75px !important;
}
.w45{
    width: 45px !important;
}

.w8p{
    width: 8vw;
}
.w12p{
    width: 12.5vw;
}
.w15p{
    width: 15vw;
}
.w25p{
    width: 25vw;
}
.w35p{
    width: 35vw;
}





/*內容*/

.img-responsive {
    max-width: 100%;
    height: auto;
    display: block;
}


.cont-set{
    margin-top: 7px;
    font-weight: 500;
    display: block;
}
.cont-set img{
    margin-bottom: 7px;
}
.table-cont-set{
    font-weight: 500;
    display: block;
}

.input-mini {
    width: 45px !important;
}


/*字*/
.fz-25px{
    font-size: 25px;
}
.fz-1_5rem{
   font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0;
}
.fz-1rem{
    font-size: 1rem !important;
}

.m-font-898b96{
    color: #898b96;

}

.wb-ba{
    word-break: break-all;
    }


/*樣式*/
.border4-f7f7fa{
    border: 4px solid #f7f7fa;
    padding: 10px;
}

.bb-2{
    border-bottom: 2px solid #000;
}

.bb-2:last-child{
    border-bottom: transparent;
}

@media (max-width:575px) {
    .col-12.col-sm-4.offset-sm-1.border4-f7f7fa{
        margin-bottom: 15px;
    }
}
@media (max-width:766px) {
    .col-12-mt-15px{
        margin-top: 15px;
    }
}

/*按鈕*/
.btn.default {
    color: #333;
    background-color: #e5e5e5;
    border-color: "";
}


/*頁碼*/
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 3px 11px;
    text-decoration: none;
    transition: background-color .3s;
    margin: 0 4px;
    border-radius: 50%;
}

ul.pagination li a.active {
    background-color: #898b96;
    color: white;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

/*調整預設值*/
.m-subheader {
    padding: 10px 30px 0 30px;
}

.m-body .m-content {
    padding: 10px;
}

.m-portlet .m-portlet__body {
    padding: 10px;
}

.m-subheader .m-subheader__title.m-subheader__title--separator{
    border-right: none;
}
.input-group-text{
    padding: 0;
}
.input-group-text.p01rem{
    padding: 0 1rem;
}
.m-form.m-form--fit .m-form__group {
    padding-left: 25px;
    padding-right: 25px;
}

.form-control.da {
    padding: 0.65rem 0.5rem;
}

.m-portlet {
    min-height: 75vh;
}
.m-portlet {
    margin-bottom: 0;
}


/* header */
.m-topbar .m-topbar__nav.m-nav > .m-nav__item > .m-nav__link .m-topbar__username {
    text-align: center;color:#000;
    font-size: 1.5rem;
    font-weight: bold;
}
.m-topbar .m-topbarnav.m-nav > .m-navitem > .m-navlink{
    border: 1px solid #f7f7fa;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    padding: 0;
    background-color: #f7f7fa
;}
.m-topbar .m-topbarnav.m-nav > .m-navitem {
    padding: 10px 12px;
}



.m-checkbox > input:checked ~ span.active:after{
    display: none;
}

.m-widget1__number {
    font-size: 1.5rem;
    font-weight: 600;
}

.m-widget14 .m-widget14__header .m-widget14__title {
    font-size: 2rem;
}



/*分類*/

.layer-menu {
  color: #566EA5;
  display: block;
  position: relative;
  margin: 0;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  line-height:40px;
  border: 1px solid #E6E7EB;
  border-bottom: none;
}
.layer-menu.last{
    border-bottom:1px solid #E6E7EB;
}

.layer-menu:hover{
  background: #e9edef;
  color: #566EA5;
}


.layer-menu.active{
  background: #D9E5FF;
  color: #566EA5;
}


.layer-menu > div {
    display:  inline-block;
}

.class-overflow{
    max-height: 63vh;
    overflow-y: auto;
    border-right: 2px solid #eee;
}
.class-overflow-2{
    max-height: 63vh;
    overflow-y: auto;
}

/*banner*/
/* .table-noline,
.table-noline td{
    border: none;
}

table.table-noline tr td:first-child {
    color: #3f4047;
    width: 20px;
    font-weight: 400;
} */




@media (max-width:1199px) {

    .m-wizard__steps{
        display: inline-flex;
    }
    .m-wizard__step-label {
        padding-left: 5px;
    }
    .m-wizard__step-label{
        padding-right: 25px;

    }

}


@media (min-width:768px) {
    .m-form .control-label {
        text-align: right;
    }

    /* .w25p{
        width: 10vw;
    } */
    
}
@media (max-width:767px) {
    .hide-575{
        display: none;
    }

}




/* banner管理 */
.fileinput-new.thumbnail.text-l{
    text-align: left
}

/* 分類管理 */
.class_Align{
    margin-left: 6em;
}

@media (max-width:468px) {
    .class_Align{
        margin-left: 0;
    }

}

