.btn.green.p-re {
    position: relative;
}

input.addImageFile[type=file] {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    opacity: 0;
    border: 1px solid #f00;
}

.imgList .thumbnail a+a {
    margin: 5px;
}

.imgList .thumbnail .fa {
    color: #FFF;
}

.imgList .thumbnail .out {
    float: right;
    display: inline;
}

.imgList .thumbnail .checker {
    margin-left: 0;
}

.imgList .thumbnail {
    border: 0px;
    outline: 1px solid #DDD;
}

.imgList .thumbnail.border-red {
    outline: 2px solid rgb(255, 0, 0);
}

.inbox-loading {
    font-size: 18px;
}

.appendImg canvas {
    width: 100%;
    position: relative;
}

.dotdotdot {
    max-width: 400px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}

.inbox-loading {
    font-size: 18px;
    display: inline;
    margin-left: 20px;
    vertical-align: middle;
    font-family: "微軟正黑體";
}
