<div class="row ">
    <div class="col-sm-12">
        <span class="btn green fileinput-button p-re">
                  <i class="fa fa-plus"></i>
                  <span>新增圖片 </span>
        <input class="addImageFile" type="file" name="files" multiple="">
        </span>
        <button type="button" class="btn warning cancel">
            <i class="fa fa-ban-circle"></i>
            <span>全部取消 </span>
        </button>
        <button type="button" class="btn blue start">
            <i class="fa fa-upload"></i>
            <span>全部上傳 </span>
        </button>
        <div class="inbox-loading hide">載入中...</div>
    </div>
    <div class="imgList col-sm-12">
        <div class="mt-30 row">
        </div>
    </div>
</div>
